/* Let's create a title class */
.title {
    font-size: 18px;
}

.docker-container-created {
    background-color: #f9f06b;
    
}
.docker-container-running {
    background-color: #8ff0a4;
    
}
.docker-container-restarting {
    background-color: #ffbe6f;
    
}
.docker-container-exited {
    background-color: #ff7b63;
    
}
.docker-container-healthy {
    background-color: #8ff0a4;
    
}
.docker-container-unhealthy {
    background-color: #ffbe6f;
    
}
.docker-container-dead {
    background-color: #9a9996;
    
}

.border-right {
    border-right: 4pt;
    border-right-style: solid;
    border-color: @borders;
}

.overview-title {
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
}

.welcome-text {
    font-size: 16px;
    margin: 10px;
}

.container-text {
    margin: 5px;
    border-radius: 5px;
    border: 1px solid
    border-color: @borders;
}

.container-action-bar {
    background-color: @headerbar_bg_color;
}