/* Let's create a title class */
.title {
    font-size: 25px;
    font-weight: bold;
}

.docker-container-created {
    background-color: lightyellow;
    
}
.docker-container-running {
    background-color: greenyellow;
    
}
.docker-container-restarting {
    background-color: lightsalmon;
    
}
.docker-container-exited {
    background-color: lightcoral;
    
}
.docker-container-dead {
    background-color: grey;
    
}

.border-right {
    border-right: 4pt;
    border-right-style: solid;
    border-color: @borders;
}