/* Let's create a title class */
.title {
    font-size: 25px;
    font-weight: bold;
}

.container-created {
    background-color: lightyellow;
    
}
.container-running {
    background-color: greenyellow;
    
}
.container-restarting {
    background-color: lightsalmon;
    
}
.container-exited {
    background-color: lightcoral;
    
}
.container-dead {
    background-color: grey;
    
}